* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter';
}

.wrapper {
    max-width:calc(1920px - 480px);
    margin-left: auto;
    margin-right: auto;
}

.wrapper__footer {
    max-width: 1920px;
}

.wrapper__mobile {
    width: calc(100%-60px);
    margin-left: auto;
    margin-right: auto;
}